/* andreas01 - a free xhtml/css website template by Andreas Viklund - http://andreasviklund.com/ - that may be used for any purpose as long as the proper credits are given to the original designer.

Version: 2.5 (Jan 11, 2007)

Screen layout: */

/***** Body and main container *****/

body {
margin:0 auto;
padding:0;
font:76% Verdana,Tahoma,Arial,sans-serif;
background:#f4f4f4 url(img/bg.gif) top center repeat-y;
color:#404040;
}

#wrap {
background:#ffffff;
color:#404040;
margin:0 auto;
width:760px;
}

/***** Various tags *****/

a {
text-decoration:none;
font-weight:bold;
color:#286ea0;
background-color:inherit;
}

a:hover {
text-decoration:underline;
color:#286ea0;
background-color:inherit;
}

a img {
border:0;
}

p {
margin:0 0 1.4em 0;
}

/***** Header *****/

#header {
margin:10px 0 0;
padding:0;
height:45px;
}

#header h1 {
color:#505050;
background-color:inherit;
width:350px;
margin:0 0 10px;
font-size:2em;
float:left;
}

#header h1 a {
color:#505050;
background-color:inherit;
text-decoration:none;
}

#header p {
width:400px;
float:right;
text-align:center;
margin:8px 0 0;
font-weight:bold;
line-height:1.3em;
}

#frontphoto {
margin:0 0 10px;
border:10;
}

/***** Left sidebar *****/

#leftside {
clear:left;
float:left;
width:140px;
margin:0 0 5px;
padding:0;
}

#leftside h2,#leftside h3 {
color:#505050;
background-color:inherit;
font-size:1.3em;
margin:0 0 5px;
padding:0;
}

#leftside div.announce {
clear:left;
margin:10px 0 15px;
padding:7px 5px;
width:126px;
font-size:0.9em;
background-color:#f4f4f4;
color:#505050;
border-left:4px solid #cccccc;
line-height:1.5em;
}

#leftside div.announce p {
margin:10px 0 0;
padding:0;
}

/***** Main menu *****/

ul.avmenu {
width:140px;
margin:0 0 18px;
padding:0;
list-style:none;
}

ul.avmenu li {
width:140px;
padding:0;
line-height:1.4em;
display:inline;
}

ul.avmenu li a {
background-color:#f4f4f4;
color:#505050;
font-weight:bold;
width:130px;
float:left;
margin-bottom:5px;
padding:5px 1px 5px 5px;
border-left:4px solid #cccccc;
text-decoration:none;
}

ul.avmenu li a:hover,ul.avmenu li a.current {
background-color:#eaeaea;
border-left:4px solid #286ea0;
color:#505050;
}

ul.avmenu ul {
margin:0 0 0 15px;
padding:0 0 5px 0;
font-size:0.9em;
width:125px;
}

ul.avmenu ul a {
padding:3px 1px 3px 5px;
font-weight:normal;
width:115px;
}

ul.avmenu ul ul {
width:113px;
}

ul.avmenu ul ul a {
width:100px;
}
/***** tabs *********/
#tabs ul
{
    font: normal 14px arial, sans, sans-serif;
    -list-style-type: none;
    border-bottom: 1px solid gray;
    margin: 0;
    padding-left:0;
    padding-right:0;
    padding-bottom: 26px;
}

#tabs ul li 
{
    display: inline;
    float: left;
    height: 24px;
    min-width:80px;
    text-align:center;
    padding:0;
    margin: 1px 0px 0px 0px;
    border: 1px solid gray;
}

#tabs ul li.selected 
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}


#tabs ul li a 
{
    float: left;
    color: #666;
    text-decoration: none;
    padding: 4px;
    text-align:center;
    background-color:#eee;
    min-width:80px;
    border-bottom: 1px solid gray;
}

#tabs ul li a.selected
{
    color: #000;
    font-weight:bold;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

#tabs ul li a:hover
{
    color: #000;
    font-weight:bold;
    background-color: #fff;
}

#container 
{
    background: white;
    border:1px solid gray;
    border-top: none;
    height:350px;
    width:100%;
    padding:0;
    margin:0;
    left:0;
    top:0;	
}

iframe
{
    border:none;
    margin:0;
    padding:0;
}
/***** Right sidebar *****/

#extras {
float:right;
width:140px;
margin:0 0 5px;
padding:0;
line-height:1.4em;
}

#extras p, #extras ul {
margin:0 0 16px;
padding:0;
}

#extras p {
font-size:0.9em;
line-height:1.4em;
}

#extras li {
list-style:none;
line-height:1.2em;
margin:0 0 6px 0;
padding:0;
}

#extras ul ul {
margin:6px 0 0 10px;
padding:0;
}

#extras ul ul li {
margin: 0 0 4px 0;
}

#extras ul ul li a {
font-size:1.1em;
font-weight:normal;
}

#extras h2, #extras h3 {
color:#505050;
background-color:inherit;
font-size:1.2em;
margin:0 0 8px;
padding:0;
}

/***** Main content *****/

#content {
margin:0 150px 5px 150px;
border-left:1px solid #e0e0e0;
border-right:1px solid #e0e0e0;
padding:0 10px;
line-height:1.5em;
}

#contentwide {
margin:0 0 5px 150px;
border-left:1px solid #f0f0f0;
padding:0 0 0 10px;
line-height:1.5em;
}

#contentwide2 {
margin:0 150px 5px 0;
border-right:1px solid #f0f0f0;
padding:0 10px 0 0;
line-height:1.5em;
}

#content h2,#contentwide h2, #contentwide2 h2 {
font-size:1.6em;
margin:0 0 10px;
}

#content h3,#contentwide h3, #contentwide2 h3 {
font-size:1.3em;
margin:0 0 8px;
}

#content img,#contentwide img, #contentwide2 img {
padding:1px;
display:inline;
background:#cccccc;
color:#303030;
border:4px solid #f0f0f0;
}

#content ul, #contentwide ul, #contentwide2 ul, #content ol, #contentwide ol, #contentwide2 ol {
margin:0 0 16px 20px;
padding:0;
}

#content li, #contentwide li, #contentwide2 li {
margin:0;
padding:0 0 0 5px;
}

#content ul ul, #contentwide ul ul, #contentwide2 ul ul, #content ol ol, #contentwide ol ol, #contentwide2 ol ol {
margin:0 0 0 16px;
padding:0;
}

/***** Footer *****/

#footer {
clear:both;
margin:0 auto;
padding:15px 0;
border-top:4px solid #f0f0f0;
width:460px;
text-align:center;
color:#808080;
background:#ffffff;
}

#footer p {
margin:0;
padding:0;
}

#footer a {
color:#808080;
background-color:#ffffff;
text-decoration:none;
font-weight:bold;
}

#footer a:hover {
text-decoration:underline;
}

/***** Various classes *****/

.left {
margin:3px 10px 2px 0;
float:left;
}

.right {
margin:2px 0 2px 10px;
float:right;
}

.textright {
text-align:right;
}

.center {
text-align:center;
}

.small {
font-size:0.8em;
}

.bold {
font-weight:bold;
}

.postinfo {
background-color:#f4f4f4;
border-left:4px solid #cccccc;
color:#606060;
font-size:0.9em;
line-height:1.4em;
margin:1px 0 20px;
padding:8px 5px 8px 8px;
}

.clearing {
clear:left;
padding:0;
margin:0;
visibility:hidden;
}

.hide {
display:none;
}

.blue {
color:#4088b8;
}


.fade {
color:#c8c8c8;
}

.