/* ###### Colors ###### */
body {color: black;}	/* ### body text color ### */
body {background-color: #d2e8cf;}	/* ### body text color ### */
h1, h2, h3 {background-color: #092c04;} /* ### title background color ### */

q {background-color: #d2e8cf;}
q {border-color: #999999;}

acronym {border-bottom-color: #999999;}

/* ###### header Colors ###### */

#header {color: #092c04;}
#header {background-color: #6ca465;}

/* ###### lowerMenuBar Colors ###### */

#lowerMenuBar, #lowerMenuBar a {color: white;}
#lowerMenuBar {background-color: #092c04;}


/* ###### sideMenuBox Colors ###### */

.sideMenuBox a {color: #092c04;}
.sideMenuBox a {background-color: #d2e8cf;}
.sideMenuBox a:hover {color: white;}
.sideMenuBox a:hover {background-color: #092c04;}

/* ###### body Text Colors ###### */

#bodyText a {color: #323232;}
#bodyText a {border-bottom-color: #323232;}

/* ###### footer Colors ###### */

#footer, #footer a {color: white;}
#footer a {border-bottom-color: white;}
#footer {background-color: #092c04;}
