/* ###### Body Text ###### */

body {
 /* ###  background-color: white; ### */
  font-family: verdana, tahoma, helvetica, arial, sans-serif;
  font-size: 82%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

h1, h2, h3 {
  color: white;
  padding-left: 1ex;
  padding-right: 1ex;
}

h1 {
  font-weight: bold;
  font-size: 140%;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  margin-top: 1ex;
}

h2 {
  font-weight: bold;
  font-size: 120%;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  margin-top: 1ex;
}

img {
  border: none;
}

#bodyText {
  background-color: white;
  text-align: justify;
  line-height: 1.5em;
  margin: 0 0 0 15.5em;
  padding: 5mm 5mm 2mm 5mm;
  border-left: 1px solid #999999;
}

#bodyText p {
  padding-left: 1ex;
  padding-right: 1ex;
  padding-bottom: 1ex;
}

#bodyText a {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#bodyText a:hover {
  border-bottom: none;
}

.smallCaps {
  font-variant: small-caps;
}


/* ###### Header ###### */

#header {
  font-size: 335%;
  height: 1.45em;
  padding-left: 4mm;
}


#lowerMenuBar {
  height: 1.55em;
  padding-left: 1.3mm;
  padding-top: 1ex;
  padding-bottom: .7ex;
}

#lowerMenuBar a {
  font-weight: bold;
  font-size: 110%;
  text-decoration: none;
  padding-left: 0.75ex;
  padding-right: 1.5ex;
}  

#lowerMenuBar a:hover {
  text-decoration: underline;
}


/* ###### Side Boxes ###### */

.sideMenuBox, .sideTextBox {
  /* ### background-color: #f0f0f0; ### */
  width: 15.5em;
  border-bottom: 1px solid #999999;
  padding-top: 1em;
  padding-bottom: 1em;
  float: left;
  clear: left;
}

.sideMenuBox div, .sideTextBox div {
  font-weight: bold;
  padding-left: 2.5mm;
  padding-bottom: 1ex;
}

.sideMenuBox a {
  text-decoration: none;
  display: block;
  padding: .75ex 1ex .75ex 5mm;
}

.lighterBG {
  background-color: white;
}


/* ###### Footer ###### */

#footer {
  font-size: 90%;
  padding: 1.9ex 2.6mm 2.4ex 2.6mm;
  clear: left;
}

#footer div {
  text-align: right;
  line-height: 1.45em;
}

#footer a {
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

.footerLHS {
  float: left;
  clear: left;
  text-align: left;
}

